<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976090297827-t9ja62edtlc1c2iahbei83j1b7f2i9r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976090297827-t9ja62edtlc1c2iahbei83j1b7f2i9r0</string>
	<key>API_KEY</key>
	<string>AIzaSyBI3I_Echi0Bd9algTT--MauJp8KH9MloY</string>
	<key>GCM_SENDER_ID</key>
	<string>976090297827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.entrelacosApp</string>
	<key>PROJECT_ID</key>
	<string>entrelacos-387103</string>
	<key>STORAGE_BUCKET</key>
	<string>entrelacos-387103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976090297827:ios:e14de1879bfd06f5095cd6</string>
</dict>
</plist>